.search {     
    position: relative;
    width: 550px;
    height: 40px;
    margin-top: 7px;
    border-radius: 20px;
    background-color: #626262;
    background-color: rgba(255,255,255,.52);
    box-shadow: 0 2px 4px 0 rgba(90,90,90,.08);
    outline: none;
    transition: max-width .4s ease;
    &:active, &:hover {
        background-color: rgba(255, 255, 255, 0.35);        
    }
    input {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
        padding-left: 20px;
        line-height: 40px;
        border: 0 none;
        outline: 0;
        font-size: 16px;
        background: 0 0;
        color: #ccc;
        &:focus {
            &::placeholder {
                color: transparent;
            }
        }
        &::placeholder {
            color: #fff;
        }
    }
    .btn-search {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 106px;
        height: 40px;
        background: #ff6428;
        background: -webkit-linear-gradient(left,#ff850b 0,#ff5945 100%);
        background: linear-gradient(to right,#ff850b 0,#ff5945 100%);
        border: none;
        outline: 0;
        font-size: 16px;
        color: #fff;
        border-radius: 0 20px 20px 0;
        &:hover {
            background: #ff6428;
        }
    }
    .btn-hot {
        position: absolute;
        top: 9px;
        right: 118px;
        background: transparent;
        border: navajowhite;
        color: #ff6428;
        font-size: 15px;
    }
}