.top {
    background-color: #3c3c3c;
    background-color: rgba(60, 60, 60, 0.7);
    position: relative;
    height: 56px;
    .container {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }
    .logo {
        display: inline-block;
        width: 135px;
        height: 36px;
        margin-top: 7px;
        margin-right: 20px;
    }
    &__left {
        display: inline-block;
        width: 300px;
        height: 56px;
        border: 1px solid;
    }
    &__right {
        position: absolute;
        right: 0;
        display: inline-block;
        // width: 300px;
        height: 56px;
        border: 1px solid;
    }
    &__search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
        display: inline-block;
        height: 56px;
        border: 1px solid;
    }
}